<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Авторизация</h1>
{% if form.errors %}
<p>Not valid Username or password</p>
{% endif %}

<form action="/accounts/auth/" method="post"> {% csrf_token %}
    <label for="username">User name</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password</label>
    <input type="password" name="password" value="" id="password">
    <input type="submit" value="login">

</form>
<p>Forgot your password?<a href="/reset/">Reset</a></p>


</body>
</html>