{% extends 'base.html' %}
{% block content %}
<div class="block_cont">
    <div class="login">
        {% if has_account %}
            <p>You already have an account!  Recover you password</p>
        {% else  %}{% if created %}
            <p>Your account has been created.  Check your email for a confirmation link to login</p>
        {% else %}
            <form method='post' action='{% url 'register' %}'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type='submit' value="Create">
            </form>

        {% endif %}
        {% endif %}
            <br>
            <br>
    </div>
</div>
{% endblock%}