html {
   background:url("../images/bamboo.jpg") top center repeat-y; min-height:800px;
}
.block1{
    position: relative;
    padding: 16px;
    width: 500px;
    left: 20%;
}
.block2{
    padding-top: 50px;
    position: relative;
    left: 40%;


}
.block_cont{
    position:relative;
    padding-right: 20px;
    padding-left: 20px;
    font-style:italic;
    font-weight: bold;
    background:url("../images/green.JPG") top center repeat-y;
    width:800px;
    border:solid;
    border-color: #005426;
    display: inline-block;
}
.img{
    margin-left:20px;
    margin-right: 20px;

}

#cell1{
    width:400px;
    font-size: 25px;
    text-align: center;
}
#cell2{
    width:500px;
    text-align: center;
}
#cell3{
    text-align: center;
}
#login{
    font-size: 20px;
    text-decoration: none;
    color: #fffbf8;
}
#min{
    width:30px;
}
#max{
    width:30px;
}
.login{
    margin-left: 30px;

}
#item{
    color:#ffffff;
}
#ref{
    vertical-align: top;
}
#filter{
    border-right-style:solid ;
    border-color: #135421;
    vertical-align:top;
}
#h1{
    text-align: center;
}

#menu_images{
    display:block;
    margin-right: 10px;
}

#nav7, #nav7 ul, #nav7 li,#nav7 li ul {
  margin: 0;
  padding: 0;
}
#nav7, #nav7 ul {
  background: rgb(97, 139, 115);

}
#nav7 {
  position: relative;
  display: table;
  width: 500px;
}
#nav7 ul {
  position: absolute;
  z-index: 5;
  display: none;

}
#nav7 li:hover ul {
  display: block;
}
#nav7 li {
  display: table-cell;
  text-align: center;
  width:80px;
  height:30px;
  border-right-color: darkseagreen;
  border-right-style: solid;
  font-size:23px;
}
#nav7 ul li {
  display: block;
  text-align: center;
  width: 160px;

}
#nav7 .right {
  direction: rtl;
}
#nav7 .right ul {
  right: 0;
}
#nav7 .right li {
  direction: ltr;
}
#nav7 a {
  display: block;
  padding: 3px 0;
  color: #fff;
  text-decoration: none;

}

#nav7 li:hover {
  background: rgb(95, 170, 139);
}
#h2{
    position:relative;
    left:60%
}
#ingredient{
    position:relative;
    left:70%;
}
#button1{
    position:absolute;
    display:inline-block;
    background:url("../images/right.ico") no-repeat;
    border: none;
    height:32px;
    width:32px;
    margin-top: -200px;
    margin-left:90%;
}