{% extends 'base.html' %}
{% block content %}

    <div class="block_cont">
    <h1 id="h1">{{ dish.name }}</h1>
    <table>
        <tr>
            <td>
                <img class="img" src="{{ dish.image.url }}" style="width:300px;height:300px"
            </td>
            <td>
               <p>{{ dish.description }}</p>
            </td>
        </tr>
    </table>

    <h2 id="h2">Ingredients:</h2>
    {% for value in values  %}
        <li id="ingredient">{{ value.ingredient.name }} ({{ value.weight }} гр.)</li>
    {% endfor %}
    <h2 id="h2">Price:</h2>
    <p id="ingredient">{{ dish.price }} грн.</p>
    </br>
    </br>
    </div>
{% endblock %}