{% extends 'base.html' %}
{% load staticfiles %}
{% block scripts %}
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static "js/menu.js" %}"></script>
{% endblock %}
{% block content %}
    {% block filter %}
    {% endblock %}
    <div class="block_cont">
        </br>
        <h1 id="h1">{{ menu.name }}</h1>
        <table >
        {% for m in menu_items%}
            <tr>
                <td id="cell1">
                    <li style="list-style: none;">{{ m.name }}</li>
                    <br>
                    (price:{{ m.price }})
                </td>
                <td id="cell2">
                    <img id="img" src="{{ m.image.url }}" style="width:128px;height:128px">
                </td>
                <td id="bucket_cell">
                        <input type="hidden" value="{{ m.pk }}" id="menu-item{{ m.pk }}" >
                        <label>Quantity</label><input type="text" id="quantity{{ m.pk }}" value="1" class="edit">
                        {% if  m.cnt_in_store == 0 %}
                            <label>currently unavailable</label>
                        {% else %}
                            <button onclick="basket_add({{ m.pk }})">Add to basket</button>
                        {% endif %}
                </td>
             </tr>
             <tr>
                <td></td>
                <td id="cell3">
                    <a href="{{'/dish'}}/{{ m.pk }}" >Read more</a>
                </td>
             </tr>
             <tr>
                <td></td>
                <td id="cell3">

                </td>
             </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}